<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>

    <div th:replace="fragments/navbar :: navbar"/>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container">
            <h1>Your Topics</h1><br/>


            <main id="topics">
                <table class="table table-striped">
                    <tr>
                        <th> Title </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <article th:each="t : ${topics}">
                        <tr>
                            <td href="'/topic/view/' + ${t.getId()}" th:text="${t.getTopicTitle()}"></td>
                            <td> <a th:href="'topic/edit/' + ${t.getId()}" class="btn btn-primary">Edit</a></td>
                            <td>
                                <a th:href="@{'/topic/delete/' + ${t.getId()}}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </article>
                </table>
            </main>
        </div>
    </body>
</html>