<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
    <div th:replace = "fragments/navbar :: navbar"/>



    <!--<main id="topics">-->
        <!--<article th:each="t : ${latest3Topics}">-->
            <!--<h2 class="title" th:text="${t.title}">Post Title</h2>-->
            <!--<div class="date">-->
                <!--<i>Posted on</i>-->
                <!--<span th:text="${#dates.format(t.date, 'dd-MMM-yyyy')}">22-May-2016</span>-->
                <!--<i>by</i>-->

            <!--</div>-->
            <!--<p class="content" th:utext="${t.body}">Post content</p>-->
        <!--</article>-->
    <!--</main>-->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>




</html>
