<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
<div th:replace="fragments/navbar :: navbar"/>

    <head>
        <title>Home</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                    <h3 class="form-signin-heading" th:text="Welcome"></h3>
                    <br/>
                    <p>This website was created for a University assignment using Spring boot.</p><br>

                    <p>The scenario was an online forum where authenticated users can carry out CRUD operations.
                        Discussion topics created of which other users can view and respond. </p>
            </div>
        </div>
    </div>
    </body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>