<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
<div th:replace="fragments/navbar :: navbar"/>

    <head>
        <title>Create Topic</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <form action="#" th:action = "@{/topic/create}" th:object="${topic}" method="POST">
                        <h2 class="form-signin-heading">Create New Topic</h2> <br/>

                        <label class="form-label">Topic Title</label> <br/>
                        <input type="text" th:field="*{topicTitle}" class="form-control"> <br/>
                        <label class="form-label">Topic Body:</label> <br/>
                        <textarea th:field="*{topicBody}" rows="5" class="form-control"></textarea><br/>


                        <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit" th:text="Create"></button>
                    </form>

                </div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>