<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
    <div th:replace="fragments/navbar :: navbar"/>

    <head>
        <title>View Topics</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="form-signin-heading">Viewing a Topic</h2> <br/>
                    <div  sec:authorize="isFullyAuthenticated()">
                        <a th:href="@{'/topic/edit/' + ${topic.getId()}}" class="btn btn-primary">Edit</a>
                        <a th:href="@{'/topic/delete/' + ${topic.getId()}}" class="btn btn-danger">Delete</a>
                    </div><br/>

                    <div class="card card-body bg-light">
                        <h2 class="title">
                            <a th:text="${topic.topicTitle}"></a>
                        </h2>

                        <p th:text="${topic.topicBody}"></p><br/>

                        <div class="date">
                            <i>Topic posted on</i>
                            <span th:text="${topic.date}"></span>
                            <i>by</i>
                            <span th:text="${topic.getusername()}"></span>
                        </div>
                    </div><br/>


                    <div  sec:authorize="isFullyAuthenticated()">
                        <a th:href="@{'/post/create/' + ${topic.getId()}}" class="btn btn-primary">Add Post</a>
                    </div><br/>

                    <article th:each="p : ${topicPost}">

                        <div class="card card-body bg-light">
                            <h4 th:text="${p.message}"/>
                            <div class="date">
                                <i>Post added at</i>
                                <span th:text="${p.date}"></span>
                                <i>by</i>
                                <span th:text="${p.username}"></span>
                            </div>
                        </div>
                        <br><br>
                    </article>
                </div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>